/*Стили для очень маленьких экранов( дисплей максимум 575 пикселей*/
@media (max-width: 575px) {
	.menu {
		position: inherit;
	}
	.menu a {
		width: 100%;
		padding: 20px 0;
	}
	.header {
		margin-top: 0;
		padding: 100px 10px;
		background-size: cover;
		background-position: center center;
		min-height: 300px;
	}
	.company img {
		float: none;
	}
	.member {
		width: 80%;

	}
}